body {
	background:#ccc;
	font-family: Tahoma;
	font-size: 0.8em;
}
#wrapper {
	background: #fff;
	left: 50%;
	margin-left: -300px;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 560px;
}
#error, #success, #info {
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	text-align: center;
}
#error {
	background: #fcc;
}
#success {
	background: #bfa;
}
#info {
	background: #fd8;
}
#submit {
	border-top: 1px solid #333;
	margin-top: 5px;
	text-align: right;
}
#submit input {
	background: #ddd;
	border: 1px solid #333;
	border-radius: 3px;
	color: #000;
	cursor: pointer;
	font-weight: bold;
	margin-top: 2px;
	padding: 3px 10px;
}
#submit input:hover {
	background: #bbb;
}
ul {
	clear: both;
	list-style-type: none;
	margin: 3px 0;
	padding: 0;
}
li.left {
	float: left;
	padding: 2px 10px 0 0;
	text-align: right;
	width: 200px;
}
ul input, ul select {
	width: 300px;
}
#progress {
	height: 22px;
	padding: 3px 0;
	position:relative;
}
#progressBorder, #bar {
	height: 20px;
}
#progressBorder {
	border: 1px solid #888;
	border-radius: 3px;
	position: absolute;
	left: 210px;
	width: 300px;
}
#bar {
	background: #ce9;
	width: 0;
}
